@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input spinners in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  @apply border-none bg-primary text-white rounded-2xl w-full
  hover:bg-primary-content hover:shadow-primary hover:shadow-sm;
}

.btn-settings {
  @apply w-14 rounded-lg !important;
}

.btn-navbar {
  @apply bg-[#1a1b1f] h-10 shadow-black rounded-xl !important;
}

.btn-explorer {
  @apply bg-purple-600 hover:bg-purple-700 hover:shadow-purple-600 !important;
}

.btn-navbar:hover {
  @apply scale-105 !important;
}

.btn-outline {
  @apply border border-transparent rounded-full p-2
  hover:border-transparent hover:bg-secondary-content hover:text-neutral-content;
}

.btn-menu {
  border: 1px solid !important;
  @apply bg-transparent border-accent rounded-2xl text-neutral-content hover:shadow-accent-content !important;
}

.btn-clear-activity {
  border: 1px solid !important;
  height: 2.5rem /* 32px */;
  min-height: 2rem /* 32px */;
  @apply bg-transparent border-accent rounded-xl text-white hover:shadow-accent-content  !important;
}

.max-button {
  @apply hover:bg-transparent hover:text-primary-content !important;
}

.btn-close-drawer {
  @apply rounded-bl-2xl rounded-tl-2xl cursor-pointer opacity-60 py-6 pl-3.5 pr-7 h-full bg-transparent z-0 mr-0 text-gray-100
  hover:bg-slate-400/[0.12] hover:-mr-2 hover:text-gray-300 transition-all duration-300 ease-in-out;
}

.input {
  @apply rounded-lg;
}

/* Hide number input spinners in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.backdrop-filter {
  backdrop-filter: blur(8px);
}

.input-card {
  @apply bg-theme p-4 rounded-2xl border-accent-content hover:border-accent border;
}

.modal-box {
  @apply w-full max-w-md min-h-96 justify-between;
}

.gradient-1-geoblock {
  background: radial-gradient(50% 50% at 50% 50%, rgb(241, 35, 121) 0px, rgba(243, 160, 66, 0) 100%);
  opacity: 0.1;

  bottom: -20rem;
  left: -15.5rem;
  position: absolute;
  width: 63rem;
  height: 65rem;
}

.gradient-2-geoblock {
  background: radial-gradient(50% 50% at 50% 50%, rgb(243, 160, 66) 0px, rgba(0, 9, 91, 0) 100%);
  opacity: 0.14;
  position: absolute;
  right: -12rem;
  top: -12rem;
  width: 50rem;
  height: 43rem;
}

.scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.line-seperator {
  width: calc(100% + 100px);
  @apply border-t border-base-100 -ml-10;
}

.expandable-content {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition:
    max-height 0.4s ease-in-out,
    opacity 0.25s ease-in-out,
    visibility 0s 0.25s;
}

.expandable-content.expanded {
  max-height: 400px;
  visibility: visible;
  opacity: 1;
  transition:
    max-height 0.4s ease-in-out,
    opacity 0.4s ease-in-out,
    visibility 0s 0s;
}

.custom-tooltip::before {
  background-color: transparent !important;
  color: #a19898 !important;
  border: 1px solid #706b6b !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem 0.75rem !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  max-width: 20rem !important;
  white-space: normal !important;
}

.custom-tooltip::after {
  border-color: #706b6b transparent transparent transparent !important;
}
