@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input spinners in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  @apply border-none bg-primary text-neutral-content
  hover:bg-primary-content hover:shadow-primary hover:shadow-sm;
}

.btn-outline {
  @apply border border-transparent hover:border-transparent hover:bg-transparent hover:text-primary-content;
}

/* Hide number input spinners in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.backdrop-filter {
  backdrop-filter: blur(8px);
}

.input-card {
  @apply bg-neutral p-4 rounded-2xl border-accent-content hover:border-accent border;
}

.gradient-1-geoblock {
  background: radial-gradient(50% 50% at 50% 50%, rgb(241, 35, 121) 0px, rgba(243, 160, 66, 0) 100%);
  opacity: 0.1;

  bottom: -20rem;
  left: -15.5rem;
  position: absolute;
  width: 63rem;
  height: 65rem;
}

.gradient-2-geoblock {
  background: radial-gradient(50% 50% at 50% 50%, rgb(243, 160, 66) 0px, rgba(0, 9, 91, 0) 100%);
  opacity: 0.14;
  position: absolute;
  right: -12rem;
  top: -12rem;
  width: 50rem;
  height: 43rem;
}
