@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input spinners in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  @apply border-none bg-primary text-neutral-content
  hover:bg-primary-content hover:shadow-primary hover:shadow-sm;
}

.btn-outline {
  @apply border border-transparent hover:border-transparent hover:bg-transparent hover:text-primary-content;
}

/* Hide number input spinners in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.backdrop-filter {
  backdrop-filter: blur(8px);
}

.input-card {
  @apply bg-neutral p-4 rounded-2xl border-accent-content hover:border-accent border;
}
